.navbar-nav {
    display: flex;
    justify-content: end;
    width: 100%;
}
.footerline {
    width: 100%;
    /* margin-bottom: 1rem; */
}

.footerline p {
    width: 134px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #000;
    margin: auto;
}