.invice-head {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* border-bottom: 1px solid #000 !important; */
    /* border-bottom: none !important; */
    padding: 12px 0px 12px 12px;
}

.invice-thum {
    width: 100%;
}

.invice-thum img {
    width: 100%;
}


.text-right {
    text-align: end;
}

.text-left {
    text-align: start;
}

.thum-cont {
    text-align: end;
    width: 100% !important;
    margin: 0 0 0 190px;
}

.thum-cont ul li {
    font-size: 13px;
    font-weight: 600;
    color: #434343;
    padding: 2px 8px;
    border-bottom: 1px solid #434343;
    /* border: 1px solid #434343; */
    border-top: 1px solid #434343;
    border-left: 1px solid #434343;
    text-align: start;

}

.thum-cont h4 {
    text-align: end;
    margin: 0 0 5px 0;
    font-size: 1.7rem;

}

.bootom-cont p {
    text-align: start;
    font-size: 15px;
    margin: 0%;
}


.rate-table table,
th,
td {
    border-collapse: collapse;
    padding: 5px 4px !important;
}

.rate-table table thead th {
    border: 1px solid #000;
    text-align: center;
}

.rate-table table tbody .bd td {
    text-align: center;
    font-weight: 700;
}

.rate-table table tbody .nd td {
    color: #212529 !important;
}

.nd td {
    border: none;
    text-align: center;
}

.invice-body table thead th {
    border: none;
}

.invice-body table tbody td {
    border: none;
    padding: 2px 0px !important;
}
















.page-header,
.page-header-space {
    height: 160px !important;
    display: block !important;
}

.page-footer,
.page-footer-space {
    height: 80px;
    line-height: 4px;

}

.page-footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    border-top: 1px solid black;

}

.page-footer p {
    font-size: 9px;
    margin-top: 1rem;
}

.page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border: none !important;
    padding: 0 10px 0 0px !important;
}

.page-header h3 {
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
    text-align: start;
}

.page-footer {
    display: block !important;
}

@page {
    margin: 15mm 5mm
}





.thead {
    display: none;
}


.panel {
    border: none !important;
}



.responsive {
    border: 1px solid #dee5e7 !important;
}

.table>tbody>tr>td {

    font-size: 11px;
}

.responsive tr td {
    border: 1px solid #000 !important;
}

/* .head-panel .panel-heading {
    border-top: 1px solid #000 !important;
} */
.thum-cont p {
    font-size: 14px;
    text-align: start !important;
    background-color: #bfbfbf;
    font-weight: 600;
    padding: 6px 0px !important;
    margin: 0%;
}

.thum-cont ul {
    list-style: none;
    padding: 0 0px;
    margin: 0%;
}

.rep p {
    margin: -9px 6px 8px 0 !important;
}

.rep {
    margin-top: 1rem;
}

.statick {
    display: none;
}
